life expectancu node red1 (5).txt
[{"id":"265dd308.76498c","type":"tab","label":"Flow 3","disabled":false,"info":""},{"id":"116f2abe.69fe75","type":"wml","z":"265dd308.76498c","name":"rp","connection":"a215b92d.e98fb8","wml-mode":"runPrediction","model":"ea44e0db-09fa-4894-98ee-d6be1a6c4ef0","deployment":"e0de2dc2-523f-4938-ac9e-a8b15bfa9ea3","modelhidden":"ea44e0db-09fa-4894-98ee-d6be1a6c4ef0","deploymenthidden":"","x":430,"y":260,"wires":[["909a4939.ea7dd8","2305e492.8a128c","aab9adc5.f5087","4e78cfa1.87e6b"]]},{"id":"d90bd0d9.0093a","type":"ui_form","z":"265dd308.76498c","name":"","label":"","group":"7cb91b07.f8af64","order":1,"width":0,"height":0,"options":[{"label":"country","value":"co","type":"text","required":true,"rows":null},{"label":"year","value":"ye","type":"number","required":true,"rows":null},{"label":"status","value":"st","type":"text","required":true,"rows":null},{"label":"adult mortality","value":"am","type":"number","required":true,"rows":null},{"label":"infant deaths","value":"ind","type":"number","required":true,"rows":null},{"label":"Alcohol","value":"al","type":"number","required":true,"rows":null},{"label":"percentage expenditure","value":"pe","type":"number","required":true,"rows":null},{"label":"Hepatitis B","value":"he","type":"number","required":true,"rows":null},{"label":"Measles","value":"me","type":"number","required":true,"rows":null},{"label":"BMI","value":"bm","type":"number","required":true,"rows":null},{"label":"under five deaths","value":"un","type":"number","required":true,"rows":null},{"label":"Polio","value":"pol","type":"number","required":true,"rows":null},{"label":"Total expenditure","value":"te","type":"number","required":true,"rows":null},{"label":"Diphtheria","value":"di","type":"number","required":true,"rows":null},{"label":"HIV/AIDS","value":"ha","type":"number","required":true,"rows":null},{"label":"GDP","value":"gd","type":"number","required":true,"rows":null},{"label":"Population","value":"po","type":"number","required":true,"rows":null},{"label":"thinness 1-19 years","value":"th","type":"number","required":true,"rows":null},{"label":"thinness 5-9 years","value":"thi","type":"number","required":true,"rows":null},{"label":"Income composition of resources","value":"inc","type":"number","required":true,"rows":null},{"label":"Schooling","value":"sc","type":"number","required":true,"rows":null}],"formValue":{"co":"","ye":"","st":"","am":"","ind":"","al":"","pe":"","he":"","me":"","bm":"","un":"","pol":"","te":"","di":"","ha":"","gd":"","po":"","th":"","thi":"","inc":"","sc":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":150,"y":160,"wires":[["54ab4da7.c60d54"]]},{"id":"909a4939.ea7dd8","type":"debug","z":"265dd308.76498c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":690,"y":180,"wires":[]},{"id":"54ab4da7.c60d54","type":"function","z":"265dd308.76498c","name":"","func":"msg.payload = {values:[[\nmsg.payload.co,msg.payload.ye,msg.payload.st,msg.payload.am,msg.payload.ind,msg.payload.al,msg.payload.pe,msg.payload.he,msg.payload.me,msg.payload.bm,msg.payload.un,msg.payload.pol,msg.payload.te,msg.payload.di,msg.payload.ha,msg.payload.gd,msg.payload.po,msg.payload.th,msg.payload.thi,msg.payload.inc,msg.payload.sc],[\nmsg.payload.co,msg.payload.ye,msg.payload.st,msg.payload.am,msg.payload.ind,msg.payload.al,msg.payload.pe,msg.payload.he,msg.payload.me,msg.payload.bm,msg.payload.un,msg.payload.pol,msg.payload.te,msg.payload.di,msg.payload.ha,msg.payload.gd,msg.payload.po,msg.payload.th,msg.payload.thi,msg.payload.inc,msg.payload.sc]]}\nreturn msg;","outputs":1,"noerr":0,"x":290,"y":260,"wires":[["116f2abe.69fe75"]]},{"id":"5c1fc0e7.b4be8","type":"ui_text","z":"265dd308.76498c","group":"7cb91b07.f8af64","order":2,"width":0,"height":0,"name":"","label":"life expectancy","format":"{{msg.payload}}","layout":"row-spread","x":720,"y":100,"wires":[]},{"id":"2305e492.8a128c","type":"function","z":"265dd308.76498c","name":"global","func":"global.set(\"pred\",msg.payload.predictions[0].values[1])\nreturn msg;","outputs":1,"noerr":0,"x":490,"y":360,"wires":[[]]},{"id":"aab9adc5.f5087","type":"function","z":"265dd308.76498c","name":"pred","func":"var pred=global.get(\"pred\")\nreturn {payload:msg.payload.predictions[0].values[1]}","outputs":1,"noerr":0,"x":632,"y":385,"wires":[["924507da.a55588"]]},{"id":"924507da.a55588","type":"ui_gauge","z":"265dd308.76498c","name":"","group":"7cb91b07.f8af64","order":2,"width":0,"height":0,"gtype":"gage","title":"life prediction","label":"percentage","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":810,"y":340,"wires":[]},{"id":"4e78cfa1.87e6b","type":"function","z":"265dd308.76498c","name":"pred","func":"var pred=global.get(\"pred\")\nreturn {payload:msg.payload.predictions[0].values[1]}","outputs":1,"noerr":0,"x":530,"y":120,"wires":[["5c1fc0e7.b4be8"]]},{"id":"a215b92d.e98fb8","type":"wml-config","z":"","host":"https://eu-gb.ml.cloud.ibm.com","instanceid":"75f8411c-ec24-4915-8a1d-6f2559e48f12","name":"wdp-writer"},{"id":"7cb91b07.f8af64","type":"ui_group","z":"","name":"rp","tab":"62a9f009.03709","order":3,"disp":true,"width":"6","collapse":false},{"id":"62a9f009.03709","type":"ui_tab","z":"","name":"chef","icon":"dashboard","disabled":false,"hidden":false}]